.mainContainer {
    background-color: rgba(71, 238, 212, 0.4);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.skillContainer {
    border: 1px solid;
    background-color: #000000;
    width: 300px;
    height: 350px;
    /*margin: 0 auto;*/
}

.worksContainer {
    background-color: rgba(199, 255, 50, 0.4);
    justify-content: center;
    align-items: center;
    height: 100%;
}
