.SkillsBlockRootContainer {
    display: flex;
    height: 100vh;
    background-color: #d55454;
    align-items: center;
    justify-content: center;
}

.SkillsBlockContainer {
    border: 1px solid;
    width: 160vh;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.headerSkillsBlock {
    display: flex;
    border: 1px solid;
    width: 100%;
    justify-content: center;
}

.content {
    border: 1px solid;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
